/*=====================GOOGLE FONTS======================*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Source+Sans+Pro&display=swap');

/*=====================VARIABLES CSS=====================*/
:root{
  /*========FONT=========*/
  --body-font: 'Poppins', sans-serif;
  --header-height : 13vh;
  --body-height : 87vh;
  --first-shade : #00A6FB;
  --second-shade : #0582CA;
  --third-shade : #006494;
  --fourth-shade : #003554;
  /*========FONT SIZE=====*/
  --h1-font-size : 55px;
  --h2-font-size : 31.5px;
  --big-font-size : 23px;
  --normal-font-size : 21px;
  --small-font-size : 18px;
  --font-color : #00A6FB;
}

*, *::after, *::before{
  box-sizing: border-box;
}

/* ==============BODY============= */
html {
  scroll-behavior: smooth;

}

body {
  font-family: var(--body-font);
  text-decoration : none;
  padding : 0px;
  margin : 0px;
  font-size : var(--normal-font-size);
}

/* ==========HEADER============ */
header {
  position : sticky;
  top : 0px;
  z-index: 999;
}
.header {
  height : var(--header-height);
  box-shadow : 0px 0px 2.5px black;
  display : flex;
  justify-content: space-between;
  background-color: white;

}

/* ========LOGO====== */
.logo{
  /* border : 1px solid pink; */
  width : 20%;
  margin-left : 10%;

}

/* =========LOGO IMAGE=========== */
.logo img {

  width : 100%;
  height :100%;
  object-fit: contain;
}

.logo_descr{
  display : none;
}
/* ==========MENU=========== */
.menu {
  width : 40%;
  display : flex;
}

.menu_android {
  display : none;
}

.menu ul {
    padding : 0.4em;
    width : 100%;
    display : flex;
    align-items : center;
}

.menu ul li {
  list-style-type : none;
    text-align : center;
    font-size : 0.8em;
    background-color: var(--first-shade);
    cursor : pointer;
    padding : 9px;
}

.menu ul li:hover{
  background-color: var(--second-shade);
}
.menu_link {
  text-decoration : none;
  color : white;
}
button {
  font-size : 0.8em;
  background-color: var(--first-shade);
  cursor : pointer;
  padding : 9px;
  text-decoration : none;
  color : white;
  border : none;
  transition : background-color 0.4s;
}
.menu ul li a:hover, button:hover{
  background-color: var(--second-shade);
}

/* =========PAGE BODY============ */
.home_swiper{
    height : var(--header-height);
    width : 100%;
    position : absolute;
    top : 0;
    left : 0;
    right : 0;
    background-color : red;
}

/* body_area */
.home {
  height : var(--body-height);
  width : 100%;
  display : flex;
  justify-content: center;
  align-items: center;
  position : relative;
}

.body_area::before {
  content : '';
  position : absolute;
  box-sizing : border-box;
  background-color: pink;
  width : 100%;
  height : 100%;
  z-index : -5;
  background-image: url("images/image-3.jpg");
  background-repeat : no-repeat;
  background-position : center top;
  background-size : cover;
  opacity :0.2;
}


.body_area .body_area_container {
    height : 90%;
    width : 80%;
    /* border : 2px solid red; */
}

.body_area .body_area_container .text {
  /* border : 2px solid red; */
  text-align : center;
}

.body_area .body_area_container .text #welcome{
  font-size : var(--h1-font-size);
  /* border : 3px solid green; */
  font-weight: 600;
  margin : 3% 0;
  display : block;
  cursor : pointer;
  transition-property : transform;
  transition-duration : 0.5s;
  position : relative;
  padding : 0.37em;
}

.body_area .body_area_container .text #welcome:hover{
  transform: translate(0.8px, 2px);
  font-weight: bolder;
  color : var(--second-shade);
}

.home_text_welcome::after{
  content: "";
  position: absolute;
  height : 4px;
  bottom : 0;
  left : 0;
  right : 0;
  transform : scaleX(0);
  transform-origin : 50% 50%;
  background-color: black;
  transition-property : transform;
  transition-duration : 0.5s;

}
.home_text_welcome:hover::after{
    transform : scaleX(0.85);
    background-color : var(--second-shade);
}

.body_area .body_area_container .text #description{
  font-size : var(--small-font-size);
  display : block;
  cursor : pointer;
  transition-property : transform;
  transition-duration : 0.5s;
  margin : 2% 0;
  line-height : 1.33em;
}

.body_area .body_area_container .text #description:hover {
  transform: translate(0.8px, 2px);
  font-weight : 500;
  color : var(--second-shade);
}

.body_area .body_area_container .explore_btn {
  /* border : 2px solid red; */
  display : flex;
  justify-content: center;

}

.body_explore_btn {
  /* border : 2px solid red; */
    font-size : 1.5em;
    transition : font-size 1s;
}

.body_explore_btn:hover {
  font-size : 1.35em;
}

.body_explore_btn a {
  text-decoration: none;
  color : white;
}

/* ==abot page gap=== */
.page_gap {
  width : 100%;
  height : 20vh;
  background-color : #006494;
  box-shadow: 0 0 5px inset;
  display : flex;
  flex-direction: column-reverse;
}
.about_swiping, .contact_swiping{
  height : var(--header-height);
}
/* =====ABOUT US======\ */
.about {
  height : var(--body-height);
  box-sizing: border-box;
}

.about_title, .contact_title_header {
  text-align: center;
  padding : 0.21em 0;
  font-size : var(--h2-font-size);
  box-shadow: 0 3px 8px var(--second-shade);
  position : relative;
  cursor: pointer;
}

/* =====also header design for all other header in different pages==== */
.about_header_design, .header_design {
  width : 75%;
  margin : 0 auto;
  position : relative;
  background-color : var(--second-shade);
  color : white;
}


.about_description, .contact_description{
  font-size : var(--big-font-size);
  text-align : center;
  line-height : 1.6em;
  margin : 0.8em auto;
  /* border : 2px solid red; */

}

.about_description > span {
  font-size : 1.9em;
  color : var(--third-shade);
}
.about_what_we_can_do{
  font-size : 1.1em;
  text-align : center;
  /* border : 2px solid red; */
  background-color: var(--second-shade);
  color : white;
  margin : 0 auto;
  width : 30%;
}

.wat_we_do_points {
  margin : 0 auto;
  width : 85%;
  height : 53%;
  overflow-y: auto;
  border : 2px solid var(--second-shade);
  box-shadow: 0px 0px 4px 1px var(--first-shade);
  padding : 0;
}

.wat_we_do_points::-webkit-scrollbar {
  width : 1.1em;
}
.wat_we_do_points::-webkit-scrollbar-thumb {
  background-color: var(--first-shade);
}
.wat_we_do_points::-webkit-scrollbar-thumb:hover {
  background-color : var(--second-shade);
}
.wat_we_do_points::-webkit-scrollbar-track {
    box-shadow : 0 0 6px var(--second-shade) inset;
}

.wat_we_do_points ul{
  margin : auto 0;
  padding :  0px;
  list-style-position: inside;
}

.wat_we_do_points ul li {
  padding : 1.0em 0.88em;
  cursor: pointer;
  border-bottom: 0.06em solid var(--first-shade);
  transition : color, background-color 0.5s;
}
.wat_we_do_points ul li:hover {
  background-color : var(--second-shade);
  color : white;
}

/* ============contact apage ============== */
.contact {
  height : var(--body-height);
}
.contact_body{
  width : 85%;
  border : 2px solid var(--second-shade);
  box-shadow: 0 0 8px var(--second-shade);
  margin : 0 auto;
  text-align : center;
  cursor : pointer;

}
.contact_title {
  border-bottom : 1px solid blue;
  box-shadow: 0 0 3px black;
  padding : 0.7em 0;
  background-color : var(--second-shade);
  color : white;
}
.contact_title:hover {
  background-color: var(--third-shade);
}
.contact_descr {
  overflow-y : hidden;
  height : 0;
  font-style : normal;
  font-size : var(--normal-font-size);
  transition : height 0.4s;
}


/* =============media query============= */

@media screen and (max-width : 960px) {
  :root {
    --body-font: 'Poppins', sans-serif;
    --first-color : #00A6FB;
    --first-color-alt : #0582CA;

    /* =========Font Size============ */
    --h1-font-size : 47px;
    --h2-font-size : 25.5px;
    --big-font-size : 19px;
    --normal-font-size : 17px;
    --small-font-size : 16px;
    --font-color : #00A6FB;
  }

  /* ==========header=========
  .header {
    justify-content: center;
  }
  .logo {
    margin-left : 0;

  }

  ====side menu======
  .menu {
    display : none;
  }
  .menu_android{
    display : none;
    height : 100%;
    width : 80%;
    position : absolute;
    border : 2px solid blue;
    right : 0;
    box-shadow : 0 0 6px inset;

  }
  .menu_android ul {
    border : 2px solid green;
    padding : 0;
    margin : 0;
  }
  .menu_android ul li {
    list-style-type: none;
    border : 2px solid blue;
    padding : 5px;

  }
  .menu_android ul li a {
    text-decoration : none;
    color : var(--first-color);
  }
  .menu_android ul li a:hover {
    background-color : var(--first-color-alt);
    color : white;
  }
} */
